<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Anno1800ModLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Anno1800ModLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Anno1800ModLauncher.Properties.Settings>
            <setting name="GameRootPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentModLoaderVersion" serializeAs="String">
                <value>Version 0.7.8</value>
            </setting>
            <setting name="NewsUrl" serializeAs="String">
                <value>https://www.anno-union.com/en/</value>
            </setting>
        </Anno1800ModLauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Anno1800ModLauncher.Properties.Settings>
            <setting name="ModDirectory" serializeAs="String">
                <value>mods</value>
            </setting>
            <setting name="GameExecutablePath" serializeAs="String">
                <value>Bin\Win64\Anno1800.exe</value>
            </setting>
            <setting name="ModLoaderPath" serializeAs="String">
                <value>Bin\Win64\python35_ubi.dll</value>
            </setting>
            <setting name="ModLoaderRoot" serializeAs="String">
                <value>Bin\Win64\</value>
            </setting>
        </Anno1800ModLauncher.Properties.Settings>
    </applicationSettings>
</configuration>